





.team-container{
    background-color: @background-color;
    height: 80%;
       
    
    .info-boxes{
        display: flex;
        justify-content: space-around;


        button {
            .button-about();
            @media@mobile{ 
                display:none;
                
            }
        }
        
        .person-inforow1{
            .rows();
        }
    
        .person-inforow2{
            .rows();
        }
    

        .person-inforow3{
            .rows();
        }
    
        .person-inforow4{
            .rows();
        }
        @media@mobile{
                width:100%;
             }

    
    
    
    
        .box{
        .boxes();
         @media@mobile{
             border: none;
             padding: 2%;
         }

        h3 {
            color: white;
            font-family:'Russo One', sans-serif;
            font-size: 1rem;
            @media@mobile{
                padding: 1%;
            }
        }
       
    }


    img{
        width:100%;
        padding:2%;
        border-radius: 50px;
    
    
    }

    
    }//box closes//
}// team container closes//
//}//body closes//

h2{
    color: white;
    font-family:'Russo One', sans-serif;
    text-align: center;
    font-size: 2rem;
 
}// h2 closes//

.foot {
    .for-footer();
  }

 