





.team-container{
    background-color: @background-color;
    height: 80%;
       
    
    .info-boxes{
        display: flex;
        justify-content: space-around;
        
        .person-inforow1{
            display:flex;
            flex-direction: column;
           width: 20%;
            margin: 1%;
           padding: 1%;
          border-radius: 10px;
          text-align: center;
        }
    
        .person-inforow2{
            display:flex;
            flex-direction: column;
           width: 20%;
            margin: 1%;
           padding: 1%;
          border-radius: 10px;
          text-align: center;
        }
    

        .person-inforow3{
            display:flex;
            flex-direction: column;
           width: 20%;
            margin: 1%;
           padding: 1%;
          border-radius: 10px;
          text-align: center;
        }
    
        .person-inforow4{
            display:flex;
            flex-direction: column;
           width: 20%;
            margin: 1%;
           padding: 1%;
          border-radius: 10px;
          text-align: center;
        }
    
    
    
    
        .box{
        border: 1px solid @main-color;
        margin:2%;
        padding: 1%;
       
    }


    img{
        width:100%;
        padding:2%;
    }


    
    }//box closes//
}// team container closes//
//}//body closes//

h2{
    color: @main-color;
    font-family:'Russo One', sans-serif;
    text-align: center;
    font-size: 2rem;
}// h2 closes//

