//about mixins//












//contact mixins//
.type-submit(){
    background-color: @button-color;
    color: @background-color;
    padding: 12px 20px;
    border:none;
    border-radius: 5px;
    cursor:zoom-in;
}
.containers(){
    border-radius: 5px;
    background-color: @second-color;
    padding: 2rem;
}
.type-text(){
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;

}