





.team-container{
    background-color: @background-color;
       
    
    .info-boxes{
        display: flex;
        justify-content: center;
        
        .person-info{
            display:flex;
            margin: 1%;
           border: 2px solid @second-color;
           padding: 1%;
          border-radius: 10px;
        }
    


    img{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }


    
    }//box closes//
}// team container closes//
//}//body closes//

h2{
    color: @main-color;
    font-family:'Russo One', sans-serif;
    text-align: center;
    font-size: 2rem;
}// h2 closes//

