


body{
   line-height: 1.5; 
   width: 80%;
    margin: 10%;
 


.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
   

    

    .info-boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .person-info{
            width: 17%;
           justify-content: space-evenly;
            margin: 1%;
           border: 2px solid @second-color;
           padding: 1%;
          border-radius: 10px;
        }
    


    img{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }


    
    }//box closes//
}// team container closes//
}//body closes//

h2{
    color: black;
    font-family:'Russo One', sans-serif;
}// h2 closes//

